/*CUSTOM STYLES*/
html,
body,
header,
.view {
    height: auto;
}
body{
    padding-top: 1em;
}
footer.page-footer{
    background-color: #0275d8;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 1.2em;
	padding: .85rem 2.13rem;
  border-radius: 2px;
  line-height: 1.25em;
  vertical-align: middle;
  width: 100%;
  touch-action: none!important;
  border-top:0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #0275d8;
}
select:after{
	content:"\f063";
}
.blockquote > ul{
  margin-left: 1em;
}

#home h1, #home h4, #contact h2{
  font-weight: 400;
}
#sign-in .card{
  border-right: 3px solid #0275d8;
}
#sign-in .card-block > div.mdform{
  margin-top: 1em;
  width: 100%!important;
}
.blockquote > ul > li{
  list-style: disc;
}
.navbar.navbar-dark .nav-link, .navbar.navbar-dark .navbar-toggler{
    color: #333;
}
.fa{
    margin-right: 0.3em;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
/*Intro*/

/*.view {
    background: url("http://mdbootstrap.com/images/regular/people/img%20(54).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

@media (max-width: 768px) {
    /*.full-bg-img,
    .view {
        height: auto;
        position: relative;
    }*/
}


@media (max-width: 992px) {
    
}

@media (max-width: 576px) {
 .row > #sign-in.col-xs-6{
  width: 100%;
 }
}
