<%- contentFor('body') %>

<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">
	<div class="container">
		
			<div class="col-xs-6 col-md-6">
				<h3>Maintenance Tracker</h3>
			</div>
			
				<nav class="navbar navbar-dark bg-primary pull-right">
					<ul class="nav nav-tabs tabs-3" role="tablist">
				    <li class="nav-item">
				       <a class="nav-link active" data-toggle="tab" href="#welcome" role="tab"><i class="fa fa-home"></i>Home</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" data-toggle="tab" href="#facilities" role="tab"><i class="fa fa-building"></i>All Facilities</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" data-toggle="tab" href="#requests" role="tab"><i class="fa fa-envelope"></i>All Requests</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" data-toggle="tab" href="" role="tab" id="sign-out-btn"><i class="fa fa-sign-out"></i>Sign Out</a>
				    </li>
					</ul>
				</nav>
			
	</div>
</nav>
<!--/.Navbar-->

<div class="tab-content">
	<div class="tab-pane fade in active" id="welcome" role="tabpanel">
    <br>
		<div class="container">
			<h2 class="h2-responsive wow fadeInLeft blue-text">Hello Admin!</h2>
	    <p>Trust you are having a great day. Please don't forget to the check the request tab for pending requests. Also, check maintenance requests that have been resolved. Thank you.</p>
	    <p><em>Enjoy the rest of your day.</em></p>
		</div>
  </div>
  <div class=" container tab-pane fade" id="facilities" role="tabpanel">
  	<br>
    <h2 class="h2-responsive wow fadeInLeft">All Facilities</h2>
    <table class="table" id="all-facilities">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Facility ID</th>
		        <th>Facility Name</th>
		        <th>Location</th>
		    </tr>
		  </thead>
		  <tbody>

		  </tbody>
		</table>
		<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#add-facility">Add Facility</button>

		<!--add a facility-->
		<div class="modal fade" id="add-facility" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<div class="md-form">
							<i class="fa fa-user prefix"></i>
			        <input type="text" id="facility-name" class="form-control">
			        <label for="facility-name">Facility Name</label>
						</div>
						<div class="md-form">
							<i class="fa fa-user prefix"></i>
			        <input type="text" id="facility-location" class="form-control">
			        <label for="facility-location">Location</label>
						</div>
		      </div>
		      <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="facility-btn">Save Changes</button>
          </div>
		    </div>
		  </div>
		</div>
		<!-- add a facility-->

  </div>
  <div class="container tab-pane fade" id="requests" role="tabpanel">
  	<br>
    <h2 class="h2-responsive wow fadeInLeft">All Requests</h2>
    <table class="table">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Facility Name</th>
		        <th>Description</th>
		        <th>Approval Status</th>
		        <th>Assign Staff</th>
		        <th>Resolved</th>
		    </tr>
		  </thead>
		  <tbody>
			  
			 
		  </tbody>
		</table> 

		<!--approval-status-->
		<div class="modal fade" id="approval-status" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<form class="form-inline">
				    	<fieldset class="form-group">
					      <input name="status" type="radio" id="approved"  value="approved">
					      <label for="admin">Approve</label>
					    </fieldset>
					    <fieldset class="form-group">
					      <input name="status" type="radio" id="rejected" value="rejected">
					      <label for="rejected">Reject</label>
					    </fieldset>
				    </form>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-dismiss="modal" id="approval-status-btn">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
		    </div>
		  </div>
		</div>
		<!--approval-status-->

		<!--assign-staff-->
		<div class="modal fade" id="assign-staff" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<div class="md-form">
			        <input type="text" id="staff" class="form-control">
			        <label for="staff">Staff Name</label>
						</div>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-dismiss="modal" id="assign-staff-btn">Assign</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
		    </div>
		  </div>
		</div>
		<!--assign-staff-->
  </div>
</div>

