<%- contentFor('body') %>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<!-- Nav tabs -->
		<nav class="navbar navbar-dark bg-primary">
			<ul class="nav nav-tabs tabs-2" role="tablist">
		    <li class="nav-item">
		        <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><i class="fa fa-home"></i> Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" data-toggle="tab" href="#contact" role="tab"><i class="fa fa-envelope"></i> Contact Us</a>
		    </li>
			</ul>
		</nav>

		<!-- Tab panels -->
		<div class="tab-content">

	    <!--home-->
	    <div class="tab-pane fade in active" id="home" role="tabpanel">
	      <br>
				<h2 class="h2-responsive wow fadeInLeft">Maintenance Tracker</h2>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>

	    </div>
		  <!--/home-->

	    <!--Panel 2-->
	    <div class="tab-pane fade" id="contact" role="tabpanel">
	      <br>
				<h2 class="h2-responsive wow fadeInLeft">We'd Love to Hear From You</h2>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>

	    </div>
	    <!--/contact us-->
		</div>
	</div>
	<div class="col-xs-6 col-md-4 shift-down">
		<div class="card wow fadeInRight">
			<div class="card-block">
				<div class="text-xs-center">
					<h4>User Sign In</h4>
				</div>
				<div class="md-form">
					<i class="fa fa-user prefix"></i>
	        <input type="text" id="uname" class="form-control">
	        <label for="uname">Username or Email</label>
				</div>
				<div class="md-form">
	        <i class="fa fa-lock prefix"></i>
	        <input type="text" id="pass" class="form-control">
	        <label for="pass">Password</label>
	    	</div>
	    	<div class="text-xs-center">
	        <button class="btn btn-primary btn-lg">Sign In</button>
	        <hr>
	      </div>

			</div>
		</div>
	</div>
</div>