<%- contentFor('body') %>
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">
	<div class="container">
		<br>
				<h3>Maintenance Tracker</h3>
				<nav class="navbar navbar-dark bg-primary pull-right">
					<ul class="nav nav-tabs tabs-2" role="tablist">
				    <li class="nav-item">
				       <a class="nav-link active" data-toggle="tab" href="#profile" role="tab"><i class="fa fa-user"></i>Profile</a>
				    </li>
				    <li class="nav-item">
				       <a class="nav-link" data-toggle="tab" href="#report" role="tab"><i class="fa fa-envelope"></i>Report A Case</a>
				    </li>
					</ul>
				</nav>
	</div>
</nav>
<!--/.Navbar-->

<div class="tab-content">
	<div class="tab-pane fade in active" id="profile" role="tabpanel">
    <br>
		<div class="container">
			<h2 class="h2-responsive wow fadeInLeft">Profile</h2>
	    <h6>Name: </h6>
	    <h6>Email: </h6>
	    <h6>Phone Number: </h6>
	    <h6>Role: </h6>
		</div>
  </div>
  <div class="tab-pane fade" id="report" role="tabpanel">
    <br>
    <div class="container">
    	<h2 class="h2-responsive wow fadeInLeft">Report A Case</h2>
    	<br>
    	<div class= "row">
    		<div class= "col-md-6">
    			<select>
    				
    			</select>
    		</div>
    	</div>

    	
    	
    	<div class= "row">
    		<div class= "col-md-6">
    			<div class="md-form">
				    <i class="fa fa-pencil prefix"></i>
				    <textarea type="text" id="description" class="md-textarea"></textarea>
				    <label for="description">Icon Prefix</label>
					</div>
    		</div>
    	</div>
			<button type="button" class="btn btn-primary btn-lg waves-effect pull-right" id="report-btn">Send Report</button>
	    
    </div>
  </div>
</div>